# Paris' trees analysis
## Objective:

Define a better inspection route for gardeners to take care of the city's trees

With the identification of types and caracteristics, routes could be planned to minimize mouvements and optimize the work force.
## Caracteristics:

What makes two trees alike / different ? Size ? Height ? Health ? Location ?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('p2-arbres-fr.csv', sep = ";")

In [4]:
data.head(5)

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

In [ ]:
data.describe()

In [ ]:
data.info()

## First glance :
### Structure:

    18 columns
    200137 lines

Now to print a detail of each column

In [9]:
max_value=200137

for col in data:
    unique_counter = data[col].nunique()
    if unique_counter == max_value:
        print("Only unique values")
    else:
        count = data[col].value_counts()
        freq = data[col].value_counts(normalize=True)

        dat = {"Count" :count , "Freq":freq}

        df = pd.DataFrame(dat)
        print({col},"Unique_counter: ", unique_counter, "\n" ,df)

Only unique values
{'type_emplacement'} Unique_counter:  1
                    Count  Freq
type_emplacement
Arbre             200137   1.0
{'domanialite'} Unique_counter:  9
                Count      Freq
domanialite
Alignement    104949  0.524388
Jardin         46262  0.231153
CIMETIERE      31926  0.159522
DASCO           6422  0.032088
PERIPHERIQUE    5327  0.026617
DJS             3900  0.019487
DFPE            1325  0.006620
DAC               21  0.000105
DASES              4  0.000020
{'arrondissement'} Unique_counter:  25
                    Count      Freq
arrondissement
PARIS 15E ARRDT    17151  0.085696
PARIS 13E ARRDT    16712  0.083503
PARIS 16E ARRDT    16403  0.081959
PARIS 20E ARRDT    15340  0.076647
PARIS 19E ARRDT    13709  0.068498
PARIS 12E ARRDT    12600  0.062957
SEINE-SAINT-DENIS  11570  0.057810
BOIS DE VINCENNES  11510  0.057511
PARIS 14E ARRDT    11399  0.056956
PARIS 17E ARRDT    10762  0.053773
PARIS 18E ARRDT    10011  0.050021
PARIS 7E ARRDT      8617  0.043056
VAL-DE-MARNE        7580  0.037874
PARIS 8E ARRDT      7245  0.036200
PARIS 11E ARRDT     5658  0.028271
HAUTS-DE-SEINE      5298  0.026472
BOIS DE BOULOGNE    3978  0.019876
PARIS 10E ARRDT     3385  0.016913
PARIS 4E ARRDT      2740  0.013691
PARIS 5E ARRDT      2368  0.011832
PARIS 6E ARRDT      1764  0.008814
PARIS 1ER ARRDT     1413  0.007060
PARIS 3E ARRDT      1209  0.006041
PARIS 9E ARRDT      1167  0.005831
PARIS 2E ARRDT       548  0.002738
{'complement_addresse'} Unique_counter:  3795
                      Count      Freq
complement_addresse
SN°                    557  0.018025
1                      552  0.017863
2                      547  0.017701
3                      498  0.016115
4                      464  0.015015
...                    ...       ...
F 10-12                  1  0.000032
F 99                     1  0.000032
93 Flandre               1  0.000032
F 97                     1  0.000032
40face                   1  0.000032

[3795 rows x 2 columns]
{'numero'} Unique_counter:  0
 Empty DataFrame
Columns: [Count, Freq]
Index: []
{'lieu'} Unique_counter:  6921
                                                     Count      Freq
lieu
PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE          2995  0.014965
PARC DES BUTTES CHAUMONT                             2331  0.011647
PARC ANDRE CITROEN                                   2095  0.010468
PARC OMNISPORT SUZANNE LENGLEN / 7 BOULEVARD DE...   1478  0.007385
INSEP / AVENUE DU TREMBLAY                           1293  0.006461
...                                                   ...       ...
CIMETIERE ST VINCENT / DIV 5                            1  0.000005
ROUTE DU LAC A BAGATELLE                                1  0.000005
ROUTE DE LA PORTE SAINT-JAMES                           1  0.000005
PENTE DE GRAVELLE - AVENUE DE GRAVELLE / ROUTE ...      1  0.000005
CIMETIERE DE PANTIN / DIV 66                            1  0.000005

[6921 rows x 2 columns]
{'id_emplacement'} Unique_counter:  69040
                 Count      Freq
id_emplacement
101001           1324  0.006615
101002           1241  0.006201
101003           1128  0.005636
202001           1032  0.005156
101004           1020  0.005097
...               ...       ...
A15100096004        1  0.000005
A15100096003        1  0.000005
A15100096002        1  0.000005
A15100096001        1  0.000005
720170155           1  0.000005

[69040 rows x 2 columns]
{'libelle_francais'} Unique_counter:  192
                   Count      Freq
libelle_francais
Platane           42508  0.213995
Marronnier        25207  0.126898
Tilleul           21305  0.107254
Erable            18389  0.092575
Sophora           11797  0.059389
...                 ...       ...
Cordyline             1  0.000005
Camphrier             1  0.000005
Jujubier              1  0.000005
Maackie               1  0.000005
Garrya                1  0.000005

[192 rows x 2 columns]
{'genre'} Unique_counter:  175
               Count      Freq
genre
Platanus      42591  0.212826
Aesculus      25341  0.126628
Tilia         21550  0.107685
Acer          18471  0.092299
Sophora       11830  0.059114
...             ...       ...
Sycopsis          1  0.000005
Enkianthus        1  0.000005
Euscaphis         1  0.000005
Phyllanthus       1  0.000005
Washingtonia      1  0.000005

[175 rows x 2 columns]
{'espece'} Unique_counter:  539
                            Count      Freq
espece
x hispanica                36409  0.183527
hippocastanum              20039  0.101011
japonica                   11822  0.059591
n. sp.                      9063  0.045684
tomentosa                   8962  0.045175
...                          ...       ...
polycarpa                      1  0.000005
x gondouinii                   1  0.000005
lusitanica subsp.azorica       1  0.000005
oliveri                        1  0.000005
delavayi subsp. potaninii      1  0.000005

[539 rows x 2 columns]
{'variete'} Unique_counter:  436
                      Count      Freq
variete
Baumannii'            4538  0.123392
Briotii'              2827  0.076869
Euchlora'             2756  0.074938
Chanticleer'          2595  0.070560
Fastigiata'           2483  0.067515
...                    ...       ...
Conspicua'               1  0.000027
Concordia'               1  0.000027
Kojou-no-mai'            1  0.000027
Nizetii'                 1  0.000027
Grosse Pomme Noire'      1  0.000027

[436 rows x 2 columns]
{'circonference_cm'} Unique_counter:  531
                   Count      Freq
circonference_cm
0                 25867  0.129246
20                 9711  0.048522
70                 6780  0.033877
60                 6369  0.031823
80                 6206  0.031009
...                 ...       ...
388                   1  0.000005
442                   1  0.000005
608                   1  0.000005
595                   1  0.000005
2130                  1  0.000005

[531 rows x 2 columns]
{'hauteur_m'} Unique_counter:  143
            Count      Freq
hauteur_m
0          39219  0.195961
10         28632  0.143062
5          26345  0.131635
15         17228  0.086081
8          13628  0.068093
...          ...       ...
97             1  0.000005
5155           1  0.000005
815            1  0.000005
218            1  0.000005
157            1  0.000005

[143 rows x 2 columns]
{'stade_developpement'} Unique_counter:  4
                      Count      Freq
stade_developpement
A                    64438  0.484744
JA                   35444  0.266633
J                    26937  0.202637
M                     6113  0.045986
{'remarquable'} Unique_counter:  2
               Count      Freq
remarquable
0.0          136855  0.998657
1.0             184  0.001343
{'geo_point_2d_a'} Unique_counter:  200107
                 Count      Freq
geo_point_2d_a
48.833321           2  0.000010
48.838550           2  0.000010
48.836862           2  0.000010
48.758683           2  0.000010
48.857796           2  0.000010
...               ...       ...
48.839535           1  0.000005
48.839550           1  0.000005
48.839390           1  0.000005
48.839365           1  0.000005
48.820445           1  0.000005

[200107 rows x 2 columns]
{'geo_point_2d_b'} Unique_counter:  200114
                 Count      Freq
geo_point_2d_b
2.299317            2  0.000010
2.374324            2  0.000010
2.387348            2  0.000010
2.311181            2  0.000010
2.337371            2  0.000010
...               ...       ...
2.279792            1  0.000005
2.279768            1  0.000005
2.279918            1  0.000005
2.279878            1  0.000005
2.454856            1  0.000005

[200114 rows x 2 columns]